  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;

    background: linear-gradient(rgba(153, 204, 255, 0.8), rgba(153, 204, 255, 0.2), rgba(153, 204, 255, 0.1), rgba(153, 204, 255, 0), rgba(153, 204, 255, 0.1), rgba(153, 204, 255, 0.2), rgba(153, 204, 255, 0.8));
  }

  /**************** HERO (TOP HEADER) *****************/

  /* Parent element: div.topnav */

  div.topheader {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
  }

  /* Children elements */

  /*Logo image*/

  /*Height and width in percentages. When using resized images, the proportions will stay.*/

  .logo {
    max-width: 100%;
  }

  div.imgcontainer {
    width: 10%;
    height: 100%;
    margin: 1rem 1rem 1rem 2rem;
  }

  /*Store Name*/

  .logo-w {
    align-self: center;

    font-size: 3.5rem;
    font-family: 'Lobster Two', cursive;
  }

  /* Resize Store name when screen reduces */

  @media screen and (max-width: 960px) {
    .logo-w {
      flex-grow: 1;
      flex-basis: 80%;
    }
  }

  @media screen and (max-width: 560px) {
    .logo-w {
      flex-grow: 1;
      flex-basis: 50%;
    }
  }

  /***************** NAV *****************/

  /* RIGHT SIDE NAV */

  /* Children element of div.topheader */

  .rightnav {
    align-self: center;
    margin-left: auto;
    margin-right: 2rem;

    padding: 0.5rem;
    box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
  }

  /* Resize Right side nav when it touches Store name */

  @media screen and (max-width: 970px) {
    .rightnav {
      flex-grow: 1;
      align-self: center;

      margin: 0rem 0rem 0rem 0rem;
      padding: 0.5rem;
      box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 320px) {
    .rightnav {
      box-shadow: 0rem 0rem 0rem 0rem;
    }
  }

  /* Parent element */

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Children elements of ul */

  li {
    padding: 0.5rem;
  }

  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  /* MAIN NAV: Same as Right Nav, but along the width of the screen */

  /* Parent element */

  .mainnav {
    flex-wrap: wrap;
    padding: 0.5rem 2rem;
    box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
  }

  /* Resize Main nav when on small screen by reducing padding */

  @media screen and (max-width: 320px) {
    .mainnav {
      padding: 0.5rem;
    }
  }

  /*********** PRODUCTS SECTION ***********/

  /* Parent element: .container */

  .container {
    display: inline-flex;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }

  /* Children elements */

  h2 {
    align-self: flex-start;
    margin-left: 2rem;

    font-size: 2.5rem;
    color: #2d2d2d;
    font-family: 'Merienda One', cursive;
  }

  /* Resize h2 */

  @media screen and (max-width: 470px) {
    h2 {
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  form {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 2rem;
  }

  /* Resize form */

  @media screen and (max-width: 470px) {
    form {
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /*********** MODULES ***********/

  /* Display: flex and Flex-wrap: wrap to keep article in the width chosen (90%) and go to the next row when there isn't enough space */

  /* Parent element */

  article.products {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
  }

  .first,
  .second {
    flex-direction: column;

    border: 1.5px solid #e6ebff;
  }

  /* 3 items per row and the rest goes to the next row. Width = 100%/3 = 33.33% for each product. Flex-basis=33.33%. EXCEPT: because of padding = 2%, width will be over 100%. Substract 4% (2%*2%) from 33.33%: flex-basis = 29.33% */

  .first {
    display: flex;
    flex-grow: 1;
    flex-basis: 29.33%;

    padding: 2%;
  }


  /* 2 items in this row, and no exansion in the whole space, so Flex-grow: 0 and Flex-basis = 33.33% */

  .second {
    display: flex;
    flex-grow: 0;
    flex-basis: 33.33%;

    padding: 2%;
  }

  /* Children elements */

  h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #2d2d2d;
  }

  img.scarf {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    flex-grow: 1;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: justify;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #2d2d2d;
  }

  h4 {
    flex-grow: 1;

    text-align: center;
  }

  .rating {
    flex-grow: 1;

    text-align: center;
  }

  /* Resize products */

  /*2 items per row: width = 100%/2 = 50% for each product. So, Flex-basis = 50%. Padding of 2% for each item, so substract 4% (2%*2%): Flex-basis = 46% */

  @media screen and (max-width: 750px) {
    .first {
      display: flex;
      flex-grow: 2;
      flex-basis: 46%;
    }
  }

  @media screen and (max-width: 750px) {
    .second {
      display: flex;
      flex-grow: 1;
      flex-basis: 50%;
    }
  }

  /* 1 items per row: width = 100%/1 = 100% for each product. So, Flex-basis to 100%. Padding of 2% for each, so substract 4% (2%*2%): Flex-basis = 96% */

  @media screen and (max-width: 500px) {
    .first {
      display: flex;
      flex-grow: 1;
      flex-basis: 96%;
    }
  }

  @media screen and (max-width: 500px) {
    .second {
      display: flex;
      flex-grow: 1;
      flex-basis: 96%;
    }
  }

  /**************** ASIDE ****************/

  /* Parent element: aside */

  aside {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  /*Input and Submit button styles*/

  input {
    padding: .5rem;
    margin: 0.5em;

    border-radius: 0.5em;
  }

  input[type="submit"] {
    padding: .5rem;
    background: #e6ebff;

    border: 2px solid #d9d9d9;
    border-radius: 6px;

    font-size: 1rem;
    color: black;
  }

  /* Center mailing list info when there isn't enough space to display the whole line */

  @media screen and (max-width: 540px) {
    input {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }

  /**************** FOOTER ****************/

  /* Parent element: footer */

  footer {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;

    padding: 2rem;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
  }

  /* Children elements */

  article.footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  p.footer {
    flex-grow: 1;

    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    text-align: center;
    font-weight: lighter;
    color: #2d2d2d;
  }

  a.footer {
    flex-grow: 1;
    align-self: flex-end;

    padding: 0.5rem;
  }

  /* Resize footer: When products change to 2 per row, Back to Top button moves to center bottom of page */

  @media screen and (max-width: 750px) {
    a.footer {
      align-self: center;
    }
  }
