  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    background: #f2f2f2;
  }

  /***************** NAV *****************/

  .mainnav {
    width: 100%;
    background: #d9d9d9;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: 320px) {
    .mainnav {
      flex-wrap: wrap;
      flex-direction: column;

      padding: 2rem 0.5rem 0.5rem 0.5rem;
      box-shadow: 0rem 0rem 0rem 0rem;
    }
  }

  /*Flex parent element and keep content in equal space along the whoe width*/

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    padding: 0.5rem;
  }

  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  /**************** HERO *****************/

  /*Inline-flex parent element*/

  div.topheader {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    background: #d9d9d9;
  }

  /*Justify-content children elements*/

  .logo {
    justify-content: flex-start;
    max-height: 6rem;
    margin: 2rem;
  }

  .logo-w {
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem 0rem 0rem 0rem;
    font-size: 3.5rem;
    font-family: 'Lobster Two', cursive;
  }

  @media screen and (max-width: 960px) {
    .logo-w {
      flex-grow: 1;
      flex-basis: 80%;
      margin: auto;
    }
  }

  @media screen and (max-width: 560px) {
    .logo-w {
      flex-grow: 1;
      flex-basis: 50%;
      margin: auto;
    }
  }

  /*This nav has the same styles as main nav, except it is flexed to the right side*/

  .rightnav {
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 4rem 0rem 0rem 0rem;
    margin-left: auto;
    margin-right: 2rem;

    height: 4rem;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.3);
  }

  @media screen and (max-width: 960px) {
    .rightnav {
      flex-grow: 1;
      align-content: center;
      margin: 0rem 0rem 0rem 0rem;
      padding: 1rem;
      box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgba(0, 0, 0, 0.3);
    }
  }

  @media screen and (max-width: 320px) {
    .rightnav {
      flex-wrap: wrap;

      padding: 0.5rem;
      box-shadow: 0rem 0rem 0rem 0rem;
    }
  }


  /*********** PRODUCTS SECTION ***********/

  /*Inline-flex parent element*/

  .container {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
  }

  /*justify-content children elements*/

  h2 {
    justify-content: flex-start;
    margin-left: 2rem;
    margin-right: auto;
    font-size: 2.5rem;
    color: #2d2d2d;
    font-family: 'Merienda One', cursive;
  }

  @media screen and (max-width: 470px) {
    h2 {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  form {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2rem;
    padding-top: 1rem;
  }

  @media screen and (max-width: 470px) {
    form {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /*********** MODULES ***********/

  /*Use display: flex and flex-wrap: wrap to keep article in the width chosen (90%) and go to the next row when there isn't enough space. This eliminates the use of float left.*/

  article.products {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .first,
  .second {
    display: flex;
    flex-direction: column;

    border: 1.5px solid #e6e6e6;
  }

  /*We want 3 items per row and the rest goes to the next row. So, width = 100%/3 = 33.33% for each product. We have to set flex-basis to 33.33%. But the padding of 2% for each item will make the width over 100%. So, we have to substract 4% (2%*2%) from 33.33%: 29.33% each.*/

  .first {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 29.33%;
    display: flex;
  }


  /*We want 2 items in this row, so we add flex-grow: 0, so it doesn't extend to the whole space.*/

  .second {
    padding: 2%;
    flex-grow: 0;
    flex-basis: 33.33%;
    display: flex;
  }

  h3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #2d2d2d;
  }

  img.scarf {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .text {
    margin-top: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #2d2d2d;
    text-align: justify;
    flex-grow: 1;
  }

  h4 {
    text-align: center;
    flex-grow: 1;
  }

  .rating {
    text-align: center;
    flex-grow: 1;
  }

  /**************** RESIZING ****************/

  /*We want 2 items per row and the rest goes to the next row. So, width = 100%/2 = 50% for each product. We have to set flex-basis to 50%. But the padding of 2% for each item will make the width over 100%. So, we have to substract 4% (2%*2%) from 50%: 46% each.*/

  @media screen and (max-width: 750px) {
    .first {
      flex-grow: 2;
      flex-basis: 46%;
      display: flex;
    }
  }

  @media screen and (max-width: 750px) {
    .second {
      flex-grow: 1;
      flex-basis: 50%;
      display: flex;
    }
  }

  /*We want 1 items per row and the rest goes to the next row. So, width = 100%/1 = 100% for each product. We have to set flex-basis to 100%. But the padding of 2% for each item will make the width over 100%. So, we have to substract 4% (2%*2%) from 100%: 96% each.*/

  @media screen and (max-width: 500px) {
    .first {
      flex-grow: 1;
      flex-basis: 96%;
      display: flex;
    }
  }

  @media screen and (max-width: 500px) {
    .second {
      flex-grow: 1;
      flex-basis: 96%;
      display: flex;
    }
  }


  /**************** ASIDE ****************/

  /*Inline-flex parent element*/

  aside {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  /*Input and Submit button styles*/

  input {
    padding: .5rem;
    margin: 0.5em;
    border-radius: 0.5em;
  }

  input[type="submit"] {
    padding: .5rem;
    background: #f2f2f2;
    border: 2px solid #d9d9d9;
    border-radius: 6px;
    font-size: 1rem;
    color: black;
  }

  /* Center mailing list info when there isn't enough space to display the whole line */

  @media screen and (max-width: 540px) {
    input {
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }

  /**************** FOOTER ****************/

  footer {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    background: #d9d9d9;
    box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.3);
  }

  article.footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  p.footer {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    text-align: center;
    font-weight: lighter;
    color: #2d2d2d;
    flex-grow: 1;
  }

  a.footer {
    padding: 0.5rem;
    flex-grow: 1;
    display: inline-flex;
    justify-content: flex-end;
  }

  /* At the same time that the products change to 2 per row, the Back to Top button comes to the center bottom of the page */

  @media screen and (max-width: 750px) {
    a.footer {
      display: inline-flex;
      justify-content: center;
    }
  }
