/* Display only important information */

nav,
footer,
form {
  display: none;
}

/* Enlarge main content */

div.imgcontainer {
  width: 6%;
  height: 100%;
  margin: 1rem;
}

h2 {
  margin-left: 0rem;
}

.container {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0rem;
}

article.products {
  margin: 0rem 3.2rem 0rem 0rem;
}

.first,
.second {
  padding: 1%;
}
